
/*::::::::::::::HOMEPAGE STYLING:::::::::::::::*/
body{
  min-height: 100vh;
  width:  100%;
  background-size: cover;
  position: fixed;
  margin: auto;
  padding-top: 50px;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.2)), url(/26293.jpg);
}
#computerguess{
  font-size: 20px;
  position: relative;
  z-index: 2;
  margin: 2px;
}
.show{
  z-index: 2;
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}
#main{
  padding: 0px 20px 0px 20px;
}
p{
  background-color: black;
  margin-top: 2px;
  margin-bottom: 30px;
  border-radius: 30px;
  position: relative;
  z-index: 2;
}

#show2{
  z-index: 2;
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}

#margini{
  margin-top: 150px;
}

/*::::::::::::::INDEX STYLING:::::::::::::::*/
#myVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  background-size: contain;
  z-index: 0;
}




#heading, #currentscore, #operation, #highscore {
  z-index: 2;
  position: relative;
  margin: auto;
}

#buttonDiv{
  margin-top: 50px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 0.3fr );
  gap: 30px;
}
#gamesec{
  text-align: center;
  color:white;
  letter-spacing: 2px;
  z-index: 2;
  padding: 10px;
  z-index: 1;
}




#startbtn{
  width: 90%;
  height: 70px;

}

button {
  padding: 0.9em 2.5em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 2;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 30px;
  margin-bottom: 10px;
}

button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


#time {
  font-size: 30px;
  z-index: 3;
  position: relative;
  margin: auto;
}