#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  background-size: contain;
  z-index: 0;
}

h2{
  z-index: 2;
}
#heading {
  z-index: 2;
  position: relative;
  margin: auto;
}

#maindiv{
  position: relative;
  margin: auto;
}

#score {
  padding-top: 70px;
  border: #00ffd5;
  color: white;
  text-align: center;
  font-size: 50px;
  z-index: 2;
  position: relative;
}


#buttonDiv{
  padding: 30px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}


#startbtn{
  width: 100%;
  margin: auto;
}

/*::::::::::::::::::::LABEL STYLE::::::::::*/
#gamesec{
  height: 100%;
  width: 100%;
  text-align: center;
  color:white;
  letter-spacing: 3px;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("bg.jpg");
  z-index: 2;
}

#inputId{
  margin-top: 10px;
  font-size: 30px;
    width: 50%;
    background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
    border-radius: 50px;
    text-align: center;
    color: white;
    position: relative;
    

}


button {
  width: 100px;
  height: 100px;
  font-size: 20px;
  padding: 0.6em 2em;
  margin: 10px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 2;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


#time {
  font-size: 30px;
  z-index: 3;
  position: relative;
  margin: auto;
}