#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  background-size: contain;
  z-index: 0;
}

h2{
  z-index: 2;
}
#heading {
  z-index: 2;
  position: relative;
  margin: auto;
}

#maindiv{
  position: relative;
  margin: auto;
}

#highscore {
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  margin: 0px;
  width: 50px;
  border-radius: 20px;
  background-image: linear-gradient(rgba(4,9,30,0.7));
  z-index: 2;
  position: relative;
}


#buttonDiv{
  padding: 50px;
  margin: auto;
  position: relative;
}

/*::::::::::::::::::::LABEL STYLE::::::::::*/
#gamesec{
  height: 100%;
  width: 100%;
  text-align: center;
  color:white;
  letter-spacing: 3px;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("bg.jpg");

}

#inputId{
    font-size: 30px;
    width: 50%;
    background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
    border-radius: 50px;
    text-align: center;
    color: white;
    position: relative;
    

}


button {
  padding: 0.6em 2em;
  margin: 10px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 2;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
